.page-wrapper {
  padding: 0 3rem;
  width: 87rem;
  position: relative;
  left: 17rem;
}

#color {
  background-color: #444;
  padding: 10px;
  object-fit: cover;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  border-radius: 50%;
  margin-bottom: 3rem;
}
#pic0 {
  object-fit: cover;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  border-radius: 50%;

  width: 10rem;
  height: 10rem;
}
#nav-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#front-stuff {
}
#nav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 17rem;
  height: 100vh;
  justify-content: center;
  background: -webkit-gradient(
    linear,
    top left,
    bottom left,
    from(#4bbfc3),
    to(#7baabe)
  );
  background: -webkit-linear-gradient(#4bbfc3, #7baabe);
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#section0 {
}
.arrow {
  width: 5rem;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 999;
  -webkit-animation: arrow-jump 1s infinite;
  /* Safari 4+ */
  -moz-animation: arrow-jump 1s infinite;
  /* Fx 5+ */
  animation: arrow-jump 1s infinite;
  /* IE 10+, Fx 29+ */
}

.arrow#up {
  top: 25px;
  right: 25px;
  -webkit-animation: arrow-jump2 1s infinite;
  /* Safari 4+ */
  -moz-animation: arrow-jump2 1s infinite;
  /* Fx 5+ */
  animation: arrow-jump2 1s infinite;
  /* IE 10+, Fx 29+ */
}

ul.list-inline.pt-3 {
  font-size: 46px;
}
ul#myMenu {
  padding: 0;
  list-style: none;
}
ul#myMenu li {
  margin: 5px 0;
  font-size: 2rem;
  color: #444;
}
a:hover {
  text-decoration: none;
}
li.active a {
  color: #cccccc;
}
i:hover {
  color: #7a8794;
}

@keyframes arrow-jump {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.69;
  }
  100% {
    opacity: 0.95;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes arrow-jump2 {
  0% {
    opacity: 0.2;
    transform: rotate(180deg);
  }
  50% {
    opacity: 0.69;
  }
  100% {
    opacity: 0.95;
    transform: rotate(180deg) translateY(5px);
  }
}
